    .container-fluid {
      width:70% !important;
      margin: 10px 80px 0px 15% !important;
    }
    
    .nav {
      font-size:16px !important;
      color:lightgrey !important;
      padding:10px 15px 10px 0px !important;
      text-transform:uppercase ;
    }
    
    .topnav a:hover {
  color: white !important;
  text-decoration: none !important;
}

    .horizontal{
        padding: 12px 0px 0px 0px !important;
        margin-left: 1em;
    }
    
    	.border{
	border-bottom:1px solid black !important;	
	}
    
    .unews {
    	padding-top:0px !important;
        margin-top: 0px !important;
    }
    
    .topnav-right{
      padding-top:6px !important;

    }
    
    .slider_info {
        background-color: #333;
        height: 100%;
        width: 100%;
    }